.hero-slider {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-slider-content {
    width: 50%;
}
.hero-slider-content h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-color);
    margin-bottom: 24px;
}
.hero-slider-content span {
    color: var(--primary-color);
}
.hero-slider-content p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: var(--text-color);
}
.hero-slider-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.hero-slider-right .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-slider-right .hero-img .hero-person {
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .hero-slider-content h1 {
        font-size: 2rem;
    }
    .hero-slider-content p {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .hero-slider {
        flex-direction: column;
        margin-top: 80px;
        height: auto;
    }
    .hero-slider-content,
    .hero-slider-right {
        width: 100%;
    }
    .hero-slider-content {
        text-align: center;
        margin: 40px 0;
    }
    .hero-slider-right .hero-img .hero-person {
        width: 80%;
    }
}
