.about-section {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.about-content {
    display: flex;
    justify-content: space-between;
}
.about-desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.about-desc .about-desc-top p {
    font-size: 20px;
    text-align: justify;
}
.about-desc h3 {
    font-size: 25px;
    font-weight: 700;
}
.about-desc-bottom {
    display: flex;
    gap: 80px;
}
.about-desc-bottom div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.about-desc-bottom p {
    text-align: justify;
    letter-spacing: -0.48px;
    line-height: 1.3;
    font-size: 16px;
}
.about-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img {
    width: 370px;
    text-align: center;
}
.about-img img {
    width: 90%;
}
@media screen and (max-width: 992px) {
    .about-content {
        flex-direction: column;
    }
    .about-content .about-desc {
        width: 100%;
        margin-bottom: 60px;
    }
    .about-content .about-right {
        width: 100%;
    }
    .about-img img {
        width: 80%;
    }
}
