/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap"); */

.main-header {
    text-align: center;
}
.main-header h1 {
    font-size: 3rem;
    font-weight: 600;
    display: inline-block;
}
.main-header .main-header-first {
    color: var(--secondary-color);
}
.main-header .main-header-last {
    color: var(--primary-color);
}
.main-header .main-header-first,
.main-header .main-header-last {
    position: relative;
}
.main-header .main-header-first::after,
.main-header .main-header-last::after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 40px;
    height: 5px;
}
.main-header .main-header-first::after {
    right: 0;
    background-color: var(--secondary-color);
    border-radius: 0 0 0 5px;
}
.main-header .main-header-last::after {
    left: 0;
    background-color: var(--primary-color);
    border-radius: 0 5px 0 0;
}
@media screen and (max-width: 992px) {
    .main-header h1 {
        font-size: 2rem;
    }
}
