.team-section {
    padding-top: var(--section-padding-top);
}

/* Slider */
.team-slider {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.team-slider .team-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 60px 0;
}

.team-slider .team-slide .team-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.team-slider .team-slide .team-text h4 {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--secondary-color);
}
.team-slider .team-slide .team-text h4 span {
    color: var(--primary-color);
}

.team-slide-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
.team-slide-img-container {
    width: 290px;
    height: 290px;
}
.team-person {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.our-team-circle {
    position: absolute;
    top: -2px;
    left: 0px;
    z-index: -1;
}

.box {
    position: absolute;
    top: -50px;
    left: -80px;
    z-index: -1;
    transition: all 0.5s;
}
.swiper-slide-next .box {
    top: -2px;
    left: 0px;
}
.swiper-pagination-bullet {
    background-color: var(--primary-color);
}
@media screen and (max-width: 576px) {
    .team-slider {
        margin-top: 30px;
    }
    .swiper-slide-next .box {
        top: -50px;
        left: -80px;
    }
    .swiper-slide-active .box {
        top: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 380px) {
    .team-slide-img {
        transform: scale(0.8);
    }
}
/* @media screen and (max-width: 380px) {
    .team-slider {
        margin-top: 30px;
    }
    .team-slide-img-container {
        width: 250px;
        height: 250px;
        background-image: url("/ourTeamCircle.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }
    .team-slide-img-container .team-person {
        position: absolute;
        width: 90%;
        height: 90%;
        top: 29px;
        left: 30px;
    }

    .swiper-slide-active .box,
    .our-team-circle {
        display: none;
    }
} */
/* @media screen and (max-width: 300px) {
    .team-slide-img {
        width: 280px;
        height: 280px;
    }
    .team-slide-img-container {
        background-image: none;
    }
    .team-slide-img-container .team-person {
        width: 80%;
        height: 80%;
    }
} */
