@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    --primary-color: #45bbd8;
    --secondary-color: #045c7d;
    --text-color: #222;
}
.container {
    width: 100%;
    padding: 0 70px;
    margin: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
@media screen and (max-width: 992px) {
    .container {
        padding: 0 40px;
    }
}
